body {
  background-color: rgb(167, 87, 87);
}
.mmiutes {
  width: 10%;
  height: 10%;
  font-size: 3vw;
  text-align: center;
  position: absolute;
  left: 7%;
  top: 4%;
}
.miutes {
  width: 130%;
  height: 120%;
  font-size: 3vw;
}
.sseconds {
  width: 10%;
  height: 10%;
  font-size: 3vw;
  text-align: center;
  position: absolute;
  left: 78%;
  top: 4%;
}
.seconds {
  width: 130%;
  height: 120%;
  font-size: 3vw;
}
.clock {
  font-size: 8vw;
  text-align: center;
  position: absolute;
  left: 45%;
  top: 40%;
}
.stop {
  width: 20%;
  height: 10%;
  text-align: center;
  position: absolute;
  left: 75%;
  top: 80%;
}
.start {
  width: 20%;
  height: 10%;
  text-align: center;
  position: absolute;
  left: 5%;
  top: 80%;
}
/* input[type-text] {
  width: 20%;
  height: 10%;
} */
